//calc(32px + (32 - 26) * (100vw - 1767px) / (1767 - 1500))

/* Display width */
$displayWidthSmX: 425px;
$displayWidthSm: 575px;
$displayWidthMd: 767px;
$displayWidthLg: 991px;
$displayWidthXl: 1200px;
$displayWidthXxl: 1400px;

$displayWidthSmX-num: str_slice(#{$displayWidthSmX}, 1, -3);
$displayWidthSm-num: str_slice(#{$displayWidthSm}, 1, -3);
$displayWidthMd-num: str_slice(#{$displayWidthMd}, 1, -3);
$displayWidthLg-num: str_slice(#{$displayWidthLg}, 1, -3);
$displayWidthXl-num: str_slice(#{$displayWidthXl}, 1, -3);
$displayWidthXxl-num: str_slice(#{$displayWidthXxl}, 1, -3);

/* CONTAINER */
$container-width: 100%;
$container-padding-x: .75rem;

/* TEXT */
$textColorBlack: #000;
$textColorDark: #4F4F4F;
$textColorDarkTitle: #0C1E3B;
$textColorMuted: #A9A9A9;
$textColorMutedDarker: #828282;
$textColorLight: #FFFFFF;
$textColorActive: #FF5555;
$textColorMain: #FF6900;
$textColorMainBth: #FF6900;

/* BUTTON */
$btnMainColor: #FF6900;
$btnRadius: 100px;

/* BACKGROUND COLOR */
$bodyBGColor: #F9F9F9;
$footerBGColor: #202020;
$cardBGColor: #ffffff;
$overlayBGColor: rgb(#000, 0.8);
$headerNavToBG-mob: #F3F3F7;
$headerNavToBG-mobHover: #FF6900;
$mainColor: #FF6900;

/* ICONS */

@function getCallIcon($color: #000) {
  $data: url('data:image/svg+xml, <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.4933 18.9697C23.5137 18.759 22.7388 19.2138 22.0526 19.6109C21.3499 20.0203 20.0138 21.1042 19.2479 20.8268C15.3266 19.2122 11.6385 15.7801 10.042 11.8431C9.76063 11.0608 10.8395 9.71613 11.2458 9.00513C11.64 8.31688 12.0854 7.53463 11.8823 6.54773C11.6987 5.66088 9.32427 2.63953 8.48464 1.81332C7.9309 1.26757 7.36363 0.967401 6.7813 0.918889C4.59194 0.824899 2.14678 3.7462 1.71794 4.44506C0.643576 5.93527 0.649595 7.91818 1.736 10.3225C4.3542 16.7806 14.2567 26.5268 20.739 29.2435C21.9353 29.8029 23.0292 30.0833 24.0118 30.0833C24.9733 30.0833 25.8295 29.815 26.5653 29.2829C27.1205 28.963 30.1615 26.3965 30.0818 24.1483C30.0336 23.5752 29.7342 23.0022 29.1955 22.4473C28.3754 21.5999 25.3735 19.1546 24.4933 18.9697Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getLocationIcon($color: #200E32) {
  $data: url('data:image/svg+xml, <svg width="25" height="31" viewBox="0 0 25 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.104164 13.0467C0.104164 6.3386 5.70982 0.916672 12.4904 0.916672C19.2902 0.916672 24.8958 6.3386 24.8958 13.0467C24.8958 16.4271 23.6665 19.5653 21.643 22.2252C19.4108 25.1593 16.6594 27.7157 13.5625 29.7223C12.8537 30.186 12.214 30.221 11.4361 29.7223C8.32149 27.7157 5.57012 25.1593 3.35698 22.2252C1.33206 19.5653 0.104164 16.4271 0.104164 13.0467ZM8.40824 13.4244C8.40824 15.6717 10.242 17.4391 12.4904 17.4391C14.7403 17.4391 16.5917 15.6717 16.5917 13.4244C16.5917 11.1947 14.7403 9.34122 12.4904 9.34122C10.242 9.34122 8.40824 11.1947 8.40824 13.4244Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getLocation2Icon($color: #200E32) {
  $data: url('data:image/svg+xml, <svg width="30" height="43" viewBox="0 0 30 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.4034 4.51883C22.6253 1.74066 18.9313 0.210449 15.0026 0.210449C11.0731 0.210449 7.37986 1.74066 4.60169 4.51883C-0.539677 9.65943 -1.17861 19.3316 3.21798 25.1917L15.0026 42.2104L26.7695 25.2155C31.1837 19.3316 30.5448 9.65943 25.4034 4.51883ZM15.1383 20.1531C12.1784 20.1531 9.76914 17.7439 9.76914 14.7839C9.76914 11.824 12.1784 9.41475 15.1383 9.41475C18.0983 9.41475 20.5075 11.824 20.5075 14.7839C20.5075 17.7439 18.0983 20.1531 15.1383 20.1531Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getMailIcon($color: #FF6900) {
  $data: url('data:image/svg+xml, <svg width="42" height="34" viewBox="0 0 42 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38.2505 33.7106C39.1946 33.7106 40.0126 33.3989 40.7081 32.7834L28.8088 20.8836C28.5233 21.0881 28.2466 21.2869 27.9852 21.4759C27.0947 22.132 26.372 22.6439 25.817 23.0108C25.2621 23.3785 24.5238 23.7533 23.6022 24.1359C22.68 24.519 21.8209 24.71 21.0238 24.71H21.0005H20.9772C20.1801 24.71 19.321 24.5191 18.3988 24.1359C17.4767 23.7533 16.7384 23.3785 16.184 23.0108C15.6291 22.6439 14.9068 22.1321 14.0159 21.4759C13.7676 21.2939 13.4922 21.0942 13.1945 20.8804L1.29297 32.7834C1.98832 33.3989 2.8069 33.7106 3.75092 33.7106H38.2505Z" fill="#FF6900"/><path d="M2.36744 13.3903C1.47703 12.7967 0.687425 12.1168 0 11.351V29.4555L10.488 18.9675C8.38978 17.5027 5.68637 15.6458 2.36744 13.3903Z" fill="#{$color}"/><path d="M39.6557 13.3903C36.4633 15.5511 33.7501 17.4112 31.5156 18.9717L41.9994 29.4559V11.351C41.3272 12.1014 40.5461 12.7808 39.6557 13.3903Z" fill="#{$color}"/><path d="M38.2492 0.710449H3.74976C2.54618 0.710449 1.62084 1.11688 0.972612 1.9289C0.323848 2.74131 0 3.75731 0 4.97576C0 5.95996 0.429764 7.02637 1.28891 8.17528C2.14806 9.32373 3.06226 10.2258 4.03106 10.882C4.56217 11.2572 6.16379 12.3707 8.83594 14.2219C10.2784 15.2215 11.5329 16.0928 12.6109 16.8447C13.5297 17.4849 14.3221 18.0393 14.9764 18.4995C15.0515 18.5521 15.1696 18.6366 15.3264 18.7487C15.4953 18.87 15.709 19.024 15.9727 19.2144C16.4805 19.5816 16.9023 19.8785 17.2383 20.1053C17.5738 20.3321 17.9803 20.5855 18.4572 20.8669C18.9337 21.1479 19.3832 21.3592 19.805 21.4997C20.2269 21.6402 20.6175 21.7106 20.9768 21.7106H21.0001H21.0234C21.3827 21.7106 21.7733 21.6402 22.1953 21.4997C22.6171 21.3592 23.0661 21.1483 23.543 20.8669C24.0194 20.5855 24.4254 20.3316 24.762 20.1053C25.098 19.8785 25.5198 19.5817 26.0277 19.2144C26.2908 19.024 26.5045 18.87 26.6734 18.7491C26.8303 18.6366 26.9483 18.5526 27.0239 18.4995C27.5336 18.1448 28.3278 17.5926 29.3957 16.8512C31.3388 15.5011 34.2004 13.514 37.9927 10.882C39.1332 10.0853 40.086 9.12402 40.8519 7.99936C41.6163 6.8747 41.9995 5.69498 41.9995 4.46059C41.9995 3.42926 41.628 2.54678 40.8864 1.81178C40.144 1.07769 39.2649 0.710449 38.2492 0.710449Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getMinusIcon($color: #ffffff) {
  $data: url('data:image/svg+xml, <svg width="14" height="5" viewBox="0 0 14 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 4.464H0V0H13.5V4.464Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getPlusIcon($color: #ffffff) {
  $data: url('data:image/svg+xml, <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.26 5.904H16.2V10.26H10.26V16.2H5.904V10.26H0V5.904H5.904V0H10.26V5.904Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getPhoneIcon($color: #FF6900) {
  $data: url('data:image/svg+xml, <svg width="24" height="43" viewBox="0 0 24 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.835 0.210449H3.16383C1.47263 0.210449 0.107422 1.58178 0.107422 3.26992V39.154C0.107422 40.8407 1.47263 42.2104 3.16383 42.2104H20.835C22.5231 42.2104 23.8914 40.8407 23.8914 39.154V3.26992C23.8914 1.58178 22.5231 0.210449 20.835 0.210449ZM7.63902 2.06848H16.3629C16.5833 2.06848 16.7623 2.39753 16.7623 2.80465C16.7623 3.21176 16.5833 3.54235 16.3629 3.54235H7.63902C7.41709 3.54235 7.24109 3.21176 7.24109 2.80465C7.24109 2.39753 7.41709 2.06848 7.63902 2.06848ZM12.0009 39.1908C10.925 39.1908 10.0496 38.3153 10.0496 37.2379C10.0496 36.1604 10.925 35.288 12.0009 35.288C13.0738 35.288 13.9493 36.1604 13.9493 37.2379C13.9493 38.3153 13.0738 39.1908 12.0009 39.1908ZM21.6018 32.504H2.39858V5.37283H21.6018V32.504Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getFavoriteLinkIcon($color: #FF6900) {
  $data: url('data:image/svg+xml, <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.4935 2.36552C15.7908 -0.788516 20.2092 -0.788501 21.5065 2.36553L24.2671 9.07746C24.4494 9.52067 24.8616 9.82351 25.3348 9.86187L32.5004 10.4428C35.8677 10.7158 37.233 14.9651 34.6675 17.1874L29.2081 21.9165C28.8476 22.2288 28.6901 22.7188 28.8003 23.1857L30.4682 30.2567C31.252 33.5794 27.6774 36.2057 24.7946 34.4251L18.6599 30.6359C18.2547 30.3857 17.7453 30.3857 17.3401 30.6359L11.2054 34.4251C8.32254 36.2057 4.74797 33.5794 5.53177 30.2567L7.19972 23.1857C7.30986 22.7188 7.15242 22.2288 6.79191 21.9165L1.33245 17.1874C-1.23303 14.9651 0.132351 10.7158 3.49958 10.4428L10.6652 9.86187C11.1384 9.82351 11.5506 9.52067 11.7329 9.07745L14.4935 2.36552ZM19.1688 3.34873C18.7364 2.29738 17.2636 2.29739 16.8312 3.34873L14.0705 10.0607C13.5236 11.3903 12.2871 12.2988 10.8675 12.4139L3.7019 12.9948C2.57949 13.0858 2.12437 14.5023 2.97952 15.243L8.43898 19.9721C9.52052 20.909 9.99284 22.379 9.66242 23.7798L7.99446 30.8507C7.7332 31.9583 8.92473 32.8337 9.88566 32.2402L16.0204 28.451C17.2358 27.7004 18.7642 27.7004 19.9796 28.451L26.1143 32.2402C27.0753 32.8337 28.2668 31.9583 28.0055 30.8507L26.3376 23.7798C26.0072 22.379 26.4795 20.909 27.561 19.9721L33.0205 15.243C33.8756 14.5023 33.4205 13.0858 32.2981 12.9948L25.1325 12.4139C23.7129 12.2988 22.4764 11.3903 21.9295 10.0607L19.1688 3.34873Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getCartIcon($color: #fff) {
  $data: url('data:image/svg+xml, <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.5935 14.3816H22.6299C23.242 14.3816 23.7228 13.8756 23.7228 13.2654C23.7228 12.6404 23.242 12.1493 22.6299 12.1493H18.5935C17.9815 12.1493 17.5006 12.6404 17.5006 13.2654C17.5006 13.8756 17.9815 14.3816 18.5935 14.3816ZM27.4241 6.64426C28.313 6.64426 28.8959 6.95679 29.4788 7.64138C30.0617 8.32597 30.1637 9.30821 30.0325 10.1997L28.6482 19.9625C28.3859 21.8392 26.8121 23.2218 24.9615 23.2218H9.06344C7.12537 23.2218 5.52245 21.7053 5.36216 19.7408L4.02154 3.51746L1.82117 3.13052C1.23829 3.02634 0.830276 2.44593 0.932279 1.85063C1.03428 1.24194 1.60259 0.838627 2.20004 0.929409L5.67546 1.46369C6.1709 1.55447 6.5352 1.96969 6.57892 2.47569L6.85579 5.80936C6.8995 6.28708 7.27837 6.64426 7.74468 6.64426H27.4241ZM8.83001 25.574C7.60596 25.574 6.61507 26.586 6.61507 27.8361C6.61507 29.0713 7.60596 30.0833 8.83001 30.0833C10.0395 30.0833 11.0304 29.0713 11.0304 27.8361C11.0304 26.586 10.0395 25.574 8.83001 25.574ZM25.2234 25.574C23.9994 25.574 23.0085 26.586 23.0085 27.8361C23.0085 29.0713 23.9994 30.0833 25.2234 30.0833C26.4329 30.0833 27.4238 29.0713 27.4238 27.8361C27.4238 26.586 26.4329 25.574 25.2234 25.574Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getBreadcrumbsIcon($color: #4F4F4F) {
  $data: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getPizzaIcon($color: #4F4F4F) {
  $data: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getSnacksIcon($color: #4F4F4F) {
  $data: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getDrinksIcon($color: #4F4F4F) {
  $data: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getSousesIcon($color: #4F4F4F) {
  $data: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getDesertsIcon($color: #4F4F4F) {
  $data: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getBuyIcon($color: #FF6900) {
  $data: url('data:image/svg+xml, <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.1794 7.89286H12.3706C12.7028 7.89286 12.9639 7.61818 12.9639 7.28694C12.9639 6.94762 12.7028 6.68101 12.3706 6.68101H10.1794C9.84714 6.68101 9.58609 6.94762 9.58609 7.28694C9.58609 7.61818 9.84714 7.89286 10.1794 7.89286ZM14.9732 3.69258C15.4557 3.69258 15.7721 3.86224 16.0885 4.23387C16.405 4.60551 16.4603 5.13872 16.3891 5.62266L15.6376 10.9225C15.4953 11.9413 14.6409 12.6918 13.6363 12.6918H5.00593C3.95383 12.6918 3.08368 11.8686 2.99666 10.8021L2.2689 1.99517L1.07441 1.78512C0.757992 1.72857 0.536498 1.41348 0.591872 1.09032C0.647245 0.75989 0.955755 0.540949 1.28009 0.590231L3.16674 0.880268C3.4357 0.92955 3.63346 1.15495 3.65719 1.42964L3.80749 3.23934C3.83122 3.49868 4.03689 3.69258 4.29003 3.69258H14.9732ZM4.87919 13.9687C4.21471 13.9687 3.67679 14.5181 3.67679 15.1967C3.67679 15.8673 4.21471 16.4166 4.87919 16.4166C5.53576 16.4166 6.07367 15.8673 6.07367 15.1967C6.07367 14.5181 5.53576 13.9687 4.87919 13.9687ZM13.7785 13.9687C13.114 13.9687 12.5761 14.5181 12.5761 15.1967C12.5761 15.8673 13.114 16.4166 13.7785 16.4166C14.4351 16.4166 14.973 15.8673 14.973 15.1967C14.973 14.5181 14.4351 13.9687 13.7785 13.9687Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getSeparatorIcon($color: #FF6900) {
  $data: url('data:image/svg+xml, <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#{$color}"/></svg>');

  @return $data;
}

@function getCheckIcon($color: #fff) {
  $data: url('data:image/svg+xml, <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.12003 1.0589C8.8076 0.718484 8.28884 0.718484 7.97641 1.0589L3.37835 6.06241L1.49786 3.99421C1.17364 3.66021 0.666675 3.66021 0.342453 4.00705C0.0359154 4.35389 0.0359153 4.90627 0.348347 5.25954L2.77117 7.88654L2.80654 7.9315C3.12487 8.28476 3.63773 8.28476 3.95605 7.9315L9.12003 2.30496C9.43246 1.95812 9.43246 1.39932 9.12003 1.0589Z" fill="#{$color}"/></svg>');

  @return $data;
}